// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
$body-bg: rgb(78, 78, 78);
$body-color: rgba(232, 250, 183, 0.103);
$primary: rgb(72, 133, 66);
$font-family-base: Arial;

// Include all Bootstrap
@import "~bootstrap/scss/bootstrap";

// Add you custom CSS
body {
  padding: 20px;
}
